.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    width: 20rem;
}

.signup-form > form {
    width: 90%;
}

.signup-form > h1 {
    color: black;
}

.signup-section {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.signup-section > label {
    margin: 1px;
    padding-left: 0.4rem;
}

.signup-section > input {
    background-color: aliceblue;
    border: 2px solid black;
}

.signup-button {
    color: white;
    background-color: #FF5A5F;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    box-shadow: black 2px 2px;
}

.disabled {
    color: #767676;
    background-color: #ECECEC;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    box-shadow: black 2px 2px;
}
