/* TODO Add site wide styles */
body {
    margin: 0px
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.errors {
    color: red;
    margin: 0.25rem 0;
}

ul {
    list-style-type: none;
}

a:hover {
    cursor: pointer;
}

img {
    margin-left: 50%;
    transform: translateX(-50%);
}

.home-spot-list {
    width: 90%;
}

#spot-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
}
