/* TODO Add site wide styles */
body {
    margin: 0px
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.errors {
    color: red
}

ul {
    list-style-type: none;
}

a:hover {
    cursor: pointer;
}
