div#navigation {
    width: 100%;
    border-bottom: 1px solid gray;
}

#navigation > ul {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
    align-items: center;
    padding: 0px 10px;
}

li {
    list-style-type: none;
}

.profile-dropdown {
    display: flex;
    flex-direction: column;
}

.profile-dropdown > li {
    margin-top: 3px;
    margin-bottom: 3px 
}

.hidden {
    display: none;
}

#home > a {
    text-decoration: none;
}
