div#navigation {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid gray;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1000;
}

#navigation > ul {
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
    align-items: center;
    padding: 0px 10px;
    height: 100%;
    list-style-type: none;
}

.profile-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4.75rem;
    right: 7rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: gray 2px 2px 5px;
    padding: 0;
    width: 11rem;
}

.profile-dropdown > li {
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 1rem;
}

.profile-dropdown > a {
    color: black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-bottom: 0.1225rem;
    padding-top: 0.1225rem;
    padding-left: 1rem;
}

#logout-button {
    padding: 0;
    text-align: center;
}
.profile-dropdown > li > button {
    color: white;
    background-color: gray;
    border-radius: 25px;
    padding: 0.5rem 1rem;
}

.hidden {
    display: none;
}

#home {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#home > a {
    display: flex;
    text-decoration: none;
    height: 100%
}

h1 {
    color: #FF5A5F;
}

#home-icon {
    width: 32px;
    height: 32px;
    margin: 0;
    transform: 0;
}

#profile-button {
    width: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px 30px;
    border-radius: 10px;
}

.fa-bars {
    margin-right: 3px
}
.fa-user {
    margin-left: 3px;
}

#right-nav {
    display: flex;
}

#create-spot-button {
    margin-right: 30px;
    color: #00A699;
}

.modal-button:hover {
    cursor: pointer;
}

#nav-list > li {
    margin-left: 5rem;
    margin-right: 5rem;
}
