.login-form > p {
    color: red
}

form {
    display: flex;
    flex-direction: column;
}

#login-button {
    display: flex;
    padding: 3px 5px;
    width: fit-content;
    align-items: center;
    justify-content: center;
}

#demo-login {
    display: flex;
    padding: 3px 5px;
    width: fit-content;
    align-items: center;
    justify-content: center;
}
